.technologies
{
  position: relative;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: repeat(6, 2fr); */
  grid-gap: 50px;
  width: 60%;
  padding-top: 60px;
  margin-bottom: 50px;
}  
.technologies--title
{
  position: absolute;
  top: 0;
  font-size: 2.5rem;
  right: calc(50% - 70px);
  z-index: 22;
}
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: var(--warm-black);
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    /* box-shadow: inset 0 0 10px #333; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.8s ease-in-out;
  }
  .grid-item svg, .grid-item .javascript svg
  {
    filter: saturate(0);
    transition: all 0.5s  ease;
  }
  .grid-item:hover svg{
    filter: saturate(1);
    transition: all 0.8s ease;
  }
  .grid-item svg 
  {
    height: 100%;
    /* fill: var(--warm-black); */
    fill: #111;
    object-fit: contain;
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 1); */
    /* filter: drop-shadow( 0 0 -10px #ffff); */
  }
  .spring svg
  {
    fill: #6ccc2b ;
  }
  .technologies .javascript svg
  {
    height: 90%;
  }

  /* dhfakshkahdkaf */
  .container-cards{
    background: lightblue;
    cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
      auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  .deck {
    position: absolute;
    width: 300px;
    height: 200px;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
  }
  
  .deck > div {
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 150px;
    height: 85vh;
    max-height: 285px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }
  