.container, .containerAnimated
{
  position: relative;
  width: fit-content;
  margin: 2rem auto;
}
.box
{
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 280px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  transition: all 2s;
}
.animated 
{
  animation: transitionImage 5s linear infinite;
  animation-delay: 3s;
  /* transition: all 2s; */
}
.container::after, .container::before, .containerAnimated::after, .containerAnimated::before{
    position: absolute;
    bottom: calc(50% - 125px); 
    right: -5px;
    content:"";
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background-color: var(--border-color-picture);
    filter: drop-shadow(0 0 15px var(--border-color-picture));
    z-index: 10px;
}
#root .containerAnimated::after, #root .containerAnimated::before
{
    /* transition: all 2s; */
    animation: activated 3s linear;
}
#root .container::before, #root .containerAnimated::before{
  left: -5px;
}
@keyframes transitionImage 
{
  10%{
    width: 250px;
  }
  40%{
    width:0px;
  }
  90%{
    width: 250px;
  }
}
@keyframes activated {
    40%
    {
        transform: scaleY(0.3) rotateY(360deg);
    }
    60%
    {
        transform: scaleY(0.3) rotateY(180deg);
    }
    100%
    {
        /* height: 100%; */
        transform: scaleY(1) rotateY(520deg);
    }
}
.picture
{
  width: 250px;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.loading
{
    position: absolute;
    display: none;
    top: calc(50% - 22px);
    left: calc(50% - 56px);
    font-size: 3rem;
    filter: drop-shadow(0 0 10px #000);
}