.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80px;
    height: 80px; */
    margin: 0 auto;
}
label
{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
label input
{
    appearance: none;
}
label span
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff, #ebf5fc, #ebf5fc);
    border-radius: 6px;
    box-shadow: inset 0 6px 1px 0 rgba(0,0,0,0.2),
    0 5px 15px 0 rgba(255,255,255,0.2),
    0 -5px 15px 0 rgba(255,255,255,0.25);
}
label svg
{
    position: relative;
    top: 3px;
    font-size: 1.5rem;
    /* color: blue; */
    fill: #8db4b5;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.133)) 
    drop-shadow(0 0 8px rgba(0, 0, 0, 0.133))
    drop-shadow(0 0 12px rgba(0, 0, 0, 0.133))
    drop-shadow(0 0 16px rgba(0, 0, 0, 0.133));
}
label input:checked ~ span 
{
    box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, 0.4),
    0 2px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#2b6b73, #31727a, #2b6b73);
}
label input:checked ~ svg
{
    top: -3px;
    color: #fff;
    filter: drop-shadow(0 0 5px var(--marine-blue)) 
    drop-shadow(0 0 8px var(--marine-blue))
    drop-shadow(0 0 12px var(--marine-blue))
    drop-shadow(0 0 16px var(--marine-blue));
    fill: #ffffff;
}