.about
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 ;
    padding: 0 1rem;
    border: 2px solid #fb40c1;
}
.about--title
{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about p
{
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color-font-light-grey);
}