.about {
    padding: 40px;
    margin-bottom: 20px;
    /* border: 2px solid #fb40c1; */
    border-left: none;
    border-right: none;
    /* filter: blur(25px); */
    z-index: 1;
  }
  
  .about h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about p {
    font-family:  sans-serif;
    font-size: 1.6rem;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  
  .about p strong {
    color: rgb(255, 92, 0);
    /* filter: drop-shadow(0 0 2px rgba(255, 92, 0, 0.8)); */
  }
  
  .about p em {
    font-style: italic;
  }
  
  .about p:first-child {
    margin-top: 0;
  }
  
  .about p:last-child {
    margin-bottom: 0;
  }
  
  .about-divider {
    border-top: 1px solid #444;
    /* width: 90%; */
    margin: 20px auto;
  }