:root{
  --border-color-picture: #40c1fb;
  --font-size-small: 1rem;
  --font-size-medium: 2.5rem;
  --font-size-high: 5rem;
  --color-font-light: #fff;
  --color-font-light-grey: #ddd;
  --color-font-grey: #888;
  --marine-blue: #00ffe2;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding-bottom: 3rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
