:root{
  --border-color-picture: #40c1fb;
  --font-size-small: 1rem;
  --font-size-medium: 2.5rem;
  --font-size-high: 5rem;
  --color-font-light: #fff;
  --color-font-light-grey: #ddd;
  --color-font-grey: #888;
  --marine-blue: #00ffe2;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  /* width: fit-content; */
}
body{
  /* overflow-x: hidden; */
  padding: 0;
}
.app
{
    background-color: #111;
    min-width: 320px;
    min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 10px;
}
